<!DOCTYPE html>
<html>
  <head>
    <title>pg_web_stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .table-compact td {
        font-size: 14px;
        padding: 4px;
        line-height: 16px;
      }

      .CodeRay {
        font-family: 'Courier New', 'Terminal', monospace;
        color: #E6E0DB;
        overflow: auto;
        font-size: 12px;
      }
      .CodeRay pre {
        margin: 0px;
        padding: 3px;
        background: #fff;
        line-height: 18px;
      }

      .CodeRay .class, .CodeRay .keyword { 
        color:#BC9358;
        font-style: italic; 
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">pg web stats</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class=""><a href="http://evl.ms/" targer="_blank">by Evil Martians</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
